<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Cadastro</h1>
    <form action="{% url 'site:criar' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <br>
            {{ field.label_tag }}
            <br>
            {{ field }}
            <br>
        {% endfor %}
        <br>
        <button type="submit">Cadastrar</button>
    </form>
    <form action="{% url 'site:criar' %}" method="post">
        {% csrf_token %}    
        {% for fields in filme %}
            <br>
            {{ fields.label_tag }}
            <br>
            {{ fields }}
            <br>
        {% endfor %}
        <br>
        <button type="submit">Cadastrar</button>
    </form>
    <br>
    <button><a href="{% url 'site:home' %}">Voltar</a></button>
</body>
</html>