<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>MyMovieList</h1>
    <br>
    <button><a href="{% url 'site:listar' %}">Listar usuarios</a></button>
    <br><br>
    <button><a href="{% url 'site:criar' %}">Criar usuario</a></button>
    <br>    
    
    <h1>Buscar Filme</h1>
        {% for movies in movie %}
        <h2>Resultado:</h2>
        <p><strong>Título:</strong> {{ movie.Title }}</p>
        <p><strong>Ano:</strong> {{ movie.Year }}</p>
        <p><strong>Gênero:</strong> {{ movie.Genre }}</p>
        <p><strong>Diretor:</strong> {{ movie.Director }}</p>
        <p><strong>Sinopse:</strong> {{ movie.Plot }}</p>
        {% endfor %}
</body>
</html>