<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>MyMovieList</h1>
    <br>
    <button><a href="{% url 'site:listar' %}">Listar usuarios</a></button>
    <br><br>
    <button><a href="{% url 'site:criar' %}">Criar usuario</a></button>
    <br>    
    

</body>
</html>