<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Atualizar usuario:</h1>
    <form action="{% url 'site:atualizar' usuario.id %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <br>
            {{ field.label_tag }}
            <br>
            {{ field }}
            <br>
        {% endfor %}
        <input type="submit" value="Atualizar">
    </form>
    <button><a href="{% url 'site:listar' %}">Voltar</a></button>
</body>
</html>